<!-- Codes for Game Area -->
<div class="game-container">
    <!-- Code for Misson Tab -->
    <div class="misson-tab-container">
        <div class="misson-tab-box">

        </div>
    </div>

    <!-- Code for Game Container -->
    <div class="game-box">
        <div class="image-placeholder">
            <!-- Image goes here -->
            <img src="../assets/images/a-dungeon.jpg" alt="Game Image" class="game-img">
        </div>
        <div class="narrative-field">
            <!-- (SAMPLE TEXT)Narrative goes here -->
            <p>Your narrative text will appear here. It should be scrollable if it exceeds the available space. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus amet fugiat numquam porro
                omnis, distinctio optio laborum quis! Culpa officiis veritatis reiciendis odio consequatur explicabo
                temporibus ipsum doloremque laborum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> voluptate nulla praesentium eius, quo fuga
                quod, excepturi distinctio quam vel totam error deserunt sequi dolores sit debitis explicabo.
                Aspernatur, odio.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptate nulla praesentium eius, <br>quo
                fuga quod, excepturi distinctio quam vel totam error deserunt sequi dolores sit debitis explicabo.
                Aspernatur, odio.</p>
            <p>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Ut voluptate nulla praesentium eius, quo
                fuga quod, excepturi distinctio quam vel totam error deserunt sequi dolores sit debitis explicabo.
                Aspernatur, odio.</p>
        </div>
    </div>

    <!-- Code for History Tab -->
    <div class="history-tab-container">
        <div class="history-tab-box">
        </div>
    </div>
</div>

<!-- Codes for Chat Area -->
<div class="chat-action-container">
    <!-- Code for Action Text Field -->
    <div class="textfield-container">
        <input type="text" class="action-input" placeholder="Enter your action here...">
    </div>
</div>

<!-- Codes for Utilities Area -->
 <div class="utility-container">
    
 </div>